<div>
<%= form_tag("/api/v1/gps" , :method => "post") do %>
	<%= text_field_tag :latitude , nil, placeholder: "Latitude" %>
	<%= text_field_tag :longitud , nil, placeholder: "Longitud"%>
	<%= text_field_tag :identificador , nil, placeholder: "vehicle identifier"%>
	<%= button_tag "Enviar",type: "submit" %>
<% end -%>
</div>